server:
  port: 8085

spring:
  application:
    name: eureka-server-cluster1

eureka:
  instance:
    hostname: localhost #Eureka实例的主机名
    instance-id: ${spring.application.name}:${server.port}
  client:
    serviceUrl:
      defaultZone: http://${spring.security.user.name}:${spring.security.user.password}@localhost:8086/eureka/
